.timeline {
    padding : 0 !important;
    margin-top: -40px;

}


/* Header styling */

.timeline .title_header{
    padding-top: 30px;
}

.timeline .timeline_header{
    min-height: 80px !important;
}

.timeline .MuiTimelineItem-root{
    min-height: 0px ;
}

.timeline .MuiTimelineItem-missingOppositeContent::before {
    display: none;
}


.timeline .main_separator{
    height: 100px;

}


.timeline .dot_header {
    color:#E6E6E6 !important;
    background-color: var(--main-color)!important;
    font-size: small !important;
    padding: 10px !important;
}

/* Other items */

.timeline .dot_other {

    color:#E6E6E6 !important;
    border-color: var(--main-color) !important;
    padding: 2px !important;
    margin-top: 0;
    margin-bottom: 0;
    

}

.timeline .MuiTimelineConnector-root {
    background-color:#E6E6E6;
}

.timeline .dot_header > .MuiSvgIcon-root {
   
}


.timeline .MuiTimelineContent-root{
    margin-top: -10px;
}
.timeline .seperator_items {
    padding-left: 20px !important;
}

.timeline .timeline_content {
    margin-top: -5px !important;
    padding-top: 0px !important;
    margin-bottom: 30px !important;
}

